<!DOCTYPE html> 
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add a new bookmark</title>
</head>
<body>
    <form action="" method="post">
        <p>
            Please enter your bookmark header:
            <input type="text" name="url">
        </p>
        <p>
            <button type= "submit">submit</button>
        </p>
    </form>
</body>
</html>

{% extends "base.html" %}

{% block Title %}
Thermos -- Add a URL
{% endblock %}

{% block content %}
    <section>
        <h1>Add a new URL </h1>
        <form action="" method="post">
            <article>
                <p>
                    Please enter your bookmark Here :
                    <input type="text" name="url">

                </p>
                <p>
                    <button type= "submit">submit</button>
                </p>
            </article>
        </form>
    </section>
{% endblock %}
